---
layout: default
---	

					<section class="wrapper style3 container special">

						<header class="major">
							<h2><strong>Charity We Support</strong></h2>
						</header>
						
						<div class="row">
							
              {% for charity in site.charities %}
							<div>
								<section>
									<a href="{{charity.url}}" class="image featured"><img src="{{charity.logo-url}}" alt="{{charity.name}}"/></a>
									<header>
										<h3><strong><a href="{{charity.url}}">{{charity.name}}</a></strong></h3>
									</header>
									<h6>	{{charity.location}}</h6>
									
									<p>{{charity.description}}
                  {% for image in charity.images %}
                    <img src="{{image.url}}" class="image featured">
                  {% endfor %}
									<p><a href="{{charity.url}}">{{charity.url}}</a></p>
                </p>
								</section>
              </div>
              {% endfor %}
              <p>Please visit our <a href="/supportus.html">Support Us Page</a> to Donate.</p>

            </div>

							
							
							
							
							
							
							
