---
layout: landing-page
---		
		<!-- Main -->
			<article id="main">
				<section class="wrapper style1 container special">
        
					<h2><strong>15 Countries </strong><br/> 10,000 miles <br/><strong> 3 People </strong><br/> 1 Car </h2>
	            <img src="/images/logo-car-1.png" class="image circle" alt="">
      				<h2>Project Spark</h2>
      				<h3>Adventure For Charity</h3>
            <p>Project Spark is an idea where two themes adventure and charity come together. Project Spark is a journey of three people starting in New York crossing continents and driving thousands of miles from London to Mumbai for charity and adventure. As part of Project Spark, we are raising awareness and fund for two charites, Kedi School for Tribal Girls and Skanda Vale Hospice. Please visit our <a href="/charities.html">charities page</a> to know more about the charities. We are partnering with <a href="http://www.lastresponders.org" _target="blank">Team Last Responders</a>, a 501(c)(3) non-profit to help create awareness for our project.</p>
</section>
					<section class="wrapper style1 container special">
						<div class="row">
              {% for section in site.main-sections %}
							<div class="4u">
								<section>
									<span class="icon featured fa-{{section.logo}}"></span>
									<header>
										<h3>{{section.name}}</h3>
									</header>
									<p>{{section.description}}
			            <ul class="buttons vertical">
			                <li><a href="{{section.url}}" class="button fit scrolly">{{section.button-name}}</a></li>
			            </ul>
									</p>
								</section>
							</div>
		          {% endfor %}
						</div>
					</section>
			</article>				
					<section id="team" class="wrapper style3 container special">
						<h2><strong>Team</strong></h2>
						<div class="row">
	                {% for member in site.people %}
	                <div class="4u">
										<section>
	                        <img src="{{ member.pic }}" class="image circle" alt="">
													<header>
	                        	<a href="/team.html#{{member.name}}"><h3>{{ member.name }}</h3></a>
													</header>
										</section>
	                </div>
	                {% endfor %}
						</div>
					</section>
					<section class="wrapper style2 container special-alt">
						<div class="row half">
							<div class="8u">
								<header>
									<h2>Recent Posts</h2>
								</header>
				        <ul class="posts">
				          {% for post in site.posts limit:5%}
				            <li>
				              <h3><a href="{{ site.baseurl }}{{post.url }}">{{ post.title }} - {{ post.author }} - {{ post.date | date: "%b %-d, %Y"}}</a></h3>
				            </li>
				          {% endfor %}
				        </ul>
								<footer>
									<ul class="buttons">
										<li><a href="blog.html" class="button">Read More</a></li>
									</ul>
								</footer>
							</div>
						</div>
					</section>
		<!-- CTA -->
			<!-- <section id="cta">

				<header>
					<h2>Ready to do <strong>something</strong>?</h2>
					<p>Proin a ullamcorper elit, et sagittis turpis integer ut fermentum.</p>
				</header>
				<footer>
					<ul class="buttons">
						<li><a href="#" class="button special">Take My Money</a></li>
						<li><a href="#" class="button">LOL Wut</a></li>
					</ul>
				</footer>

			</section> -->