<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/nytomumbai" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/New-York-London-Mumbai-252603788418144/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/nytomumbai" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="icons">
        <li><div class="fb-like" data-href="https://www.facebook.com/New-York-London-Mumbai-252603788418144/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
    </ul>
</footer>

