<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/nytomumbai" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/New-York-London-Mumbai-252603788418144/" class="icon circle fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/nytomumbai" class="icon circle fa-instagram"><span class="label">Instagram</span></a></li>
    </ul>
    <ul class="icons">
      <li>email : <a href="emailto:team.nytomumbai@gmail.com">team.nytomumbai@gmail.com</a></li>
      <li>Supported by <a href="http://www.lastresponders.org">Team LastResponders</a></li>
    </ul>
    <ul class="icons">
        <li><div class="fb-like" data-href="https://www.facebook.com/New-York-London-Mumbai-252603788418144/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
    </ul>
</footer>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1174954259204990";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

