<header id="header">
				<h1 id="logo"><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/">New York To Mumbai</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/">Home</a></li>
						<li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/route.html">Route</a></li>
            <li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/blog.html">Blog</a></li>
            <li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/#team">Team</a></li>
            <li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/charities.html">Charities</a></li>
						<!-- <li class="submenu">
							<a href="">Layouts</a>
							<ul>
								<li><a href="/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="/no-sidebar.html">No Sidebar</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li> -->
						<!-- <li><a href="#" class="button special">Sign Up</a></li> -->
					</ul>
				</nav>
			</header>
