<header id="header">
				<h1 id="logo"><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/">New York To Mumbai</a></h1>
				<nav id="nav">
					<ul>
            <li></li>
						<li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/">Home</a></li>				
            <li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/route.html">Route</a></li>
            <li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/blog.html">Blog</a></li>
            <li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/team.html">Team</a></li>
            <li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/charities.html">Charities</a></li>
            <li><a href="{{site.url}}:{{site.port}}{{site.baseurl}}/supportus.html">Support Project Spark</a></li>
<!-- <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="CASVEAHUK8CSE">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form> -->
						<!-- <li class="submenu">
							<a href="">Layouts</a>
							<ul>
								<li><a href="/left-sidebar.html">Left Sidebar</a></li>
								<li><a href="/right-sidebar.html">Right Sidebar</a></li>
								<li><a href="/no-sidebar.html">No Sidebar</a></li>
								<li><a href="/contact.html">Contact</a></li>
								<li class="submenu">
									<a href="">Submenu</a>
									<ul>
										<li><a href="#">Dolore Sed</a></li>
										<li><a href="#">Consequat</a></li>
										<li><a href="#">Lorem Magna</a></li>
										<li><a href="#">Sed Magna</a></li>
										<li><a href="#">Ipsum Nisl</a></li>
									</ul>
								</li>
							</ul>
						</li> -->
						<!-- <li><a href="#" class="button special">Sign Up</a></li> -->
					</ul>
				</nav>
      </header>
